@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
background-color: 	#1e1e1e
}

header {
    background-color:#111111;
    border-bottom: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 2em;
    color:  #ea80fc;
}

main {
    padding: 100px;
    text-align: left;
    font-family: 'Tilt Warp', cursive;
    color:  #ea80fc;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    color:  #ea80fc;
  }

  img{
    height: 350px;
    width: 550px;
    border: none;
    border-radius: 15px;
  }

.botao {
    display: flex;
    justify-content: center;
    align-items: center;

}

  .MudarTema {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 21px;
    font-weight: 100;
    padding: 15px;
    background-color: #ea80fc;
    box-shadow: 1px 1px 20px 0 #000000;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
 }
